/*
 * COMMON STYLES
 * Used to redefine common attributes (such as links, title, etc.)
 */
html, body {
  height: 100%;
}

#root {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 3.7em;
  font-weight: 700;
  margin-bottom: 42px;
}

h2 {
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 20px;
  text-transform: uppercase;
}

h3 {
  font-weight: 600;
  font-size: .9em;
}

h4 {
  font-weight: normal;
  margin: 0;
  padding-bottom: 8px;
}

a {
  color: inherit;
  text-decoration: inherit;
  cursor: pointer;
}

.hidden {
  display: none;
}

.active {
  opacity: 1 !important;
}

footer {
  opacity: .5;
  width: 100%;
  font-size: .8rem;

  position: absolute;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  padding-bottom: 10px;
}

footer a {
  font-weight: 600;
}

/*
 * APP-SPECIFIC STYLES
 * Used to redefine app-specific tags (app grid, app item, etc.)
 */

header {
  display: flex;
  align-items: center;
  gap: 22px;
  margin: 40px 0 60px 0;
}

header h1 {
  padding: 0;
  margin: 0
}

header img {
  max-width: 80px;
}

header #logo {
  padding-right: 18px;
  border-right: 2px solid white;
}

#app_grid {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
}

.app_item {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: stretch;

  width: 300px;
  gap: 15px;

  padding: 8px;
  text-transform: uppercase;

  border-radius: 4px;
  transition: all .1s;

  background-color: rgba(0, 0, 0, .2);
}

.app_item:hover,
.app_item:active,
.app_item:focus {
  background-color: rgba(0, 0, 0, .5);
}

.app_item_icon {
  width: 35px;
  height: 35px;
  font-size: 35px;
}

.app_item_icon img {
  width: 100%;
}

.app_item_details h3 {
  margin: 0;
  margin-bottom: -4px;
  padding-top: 4px;
}

.app_item_details span {
  font-size: .7em;
  font-weight: 400;
}

#controls {
  display: inline-block;
  padding: 4px;
  position: absolute;
  top: 9px;
  right: 9px;

  opacity: .5;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

#controls .mdi {
  font-size: 1.5rem;
  transition: all .3s;
}

#controls #lastRefresh {
  font-size: 0.8rem;
}

#controls .mdi:hover,
#controls .mdi:active,
#controls .mdi:focus {
  opacity: 1;
}

#controls .mdi-check {
  color: green;
  opacity: 1;
}

